HEARTQUEST_DATABASE_PATH=database/heartquest.db
HEARTQUEST_CORS_ORIGINS=https://heartquest.yamaguchi-tech.com

# Set this to the local path of a Firebase service-account JSON file.
# Do not commit the JSON file or its credentials.
GOOGLE_APPLICATION_CREDENTIALS=
